<div class='nav_bar'>
  <a href='/' id="logo"><strong>Maria & Renata's Hacker News!</strong></a>

  <ul>
    <% if current_user %>
      <li><a href='/'>Front Page</a></li>
      <li><a href='/user/<%= current_user.id %>'>Profile</a></li>
      <li><a href='/logout'>Log Out</a></li>
    <% else %>
      <li><a href='/login'>Login</a></li>
      <li><a href='/sign_up'>Sign Up</a></li>
    <% end %>
  </ul>

</div>
